# Include public implementation examples in GitHub Linguist statistics.

examples/*.js -linguist-documentation linguist-detectable=true
examples/*.sql -linguist-documentation linguist-detectable=true
